
footer {
	font-family: Calibri;
}

footer img {
	width:100px;
}

footer .email-img {
	margin-top:19px;
	margin-bottom:20px;
}

footer .phone-img {
	margin-top:16px;
	margin-bottom:17px;
}