footer {
	font-family: Calibri;
}


.ikon {

  margin-top: -10px;
}


.margin-before-jumbo {
  margin-top:15px;
}

.margin-before-box {
  margin-top:55px;
}

spelregler {
  font-family: Calibri;
}

.contact-us {
  padding:0;
}

.contact-us h3 {
  argin-top:5px;

}


footer img {
	width:30px;
}

footer .emailikon.png {
	margin-top:60px;
	margin-bottom:60px;
}

footer .telefonikon.png {
	margin-top:10px;
	margin-bottom:10px;
}

.start-btn {
	margin-top:100px;
}

footer {
	margin-top:10px;
}

body {
  padding-left:100px;
  padding-right:100px;
  padding-top:10px;

  
  line-height:130%;
}

nav a {

  font-size: 20px;
  font-family: 'Calibri';
}

