/*footer {
	font-family: Calibri;
}*/

.coin {
  background-color: #0000FF;
}

.ikon {

  margin-top: -10px;
}

.margin-before-jumbo {
  margin-top:15px;
}

.margin-before-box {
  margin-top:20px;
}

spelregler {
  font-family: Calibri;
}

.contact-us {
  padding:0;
}

.contact-us h3 {
  argin-top:5px;

}

.close {
  display: none;
}

.playerR {
  color:red;
  text-shadow: 0px 0px 2px black;
}

.playerY {
  color:yellow;
  text-shadow: 0px 0px 2px black;
}

.high-score-list {
  list-style-type: none;
}

footer img {
	width:30px;
}

footer .emailikon.png {
	margin-top:60px;
	margin-bottom:60px;
}

footer .telefonikon.png {
	margin-top:10px;
	margin-bottom:10px;
}

.start-btn {
	margin-top:100px;
}

footer {
	margin-top:20px;
}

body {
  padding-left:100px;
  padding-right:100px;
  padding-top:10px;

  
  line-height:130%;
}

nav a {

  font-size: 20px;
  font-family: 'Calibri';
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height 
     or slightly more for more space before footer
  */
  margin-bottom: 120px;
}

footer {
  position: absolute;
  bottom: 0;
  width: -10%;
  /* Set the fixed height of the footer here */
  height: 100px;
}

/*
  Other footer height for Boostrap xs, sm
  (for breakpoint see: http://getbootstrap.com/css/)
*/
@media screen and (max-width: 969px) {

    body {
      margin-bottom:300px;
    }

    footer {
      height: 280px;
    }

}

